
/* ----- EXPLAIN ----- */

.explainInterface {
	display: grid;
	grid-template-columns: 1fr 3fr;
	font-size: medium;
	overflow-y: hidden!important;
}

.explainInterface h4 {
	font-size: larger;
}

.explainDirectory li.level1 {
	grid-template-columns: auto;
}

.explainDirectory li.level2 {
	grid-template-columns: 1em auto;
}

.explainDirectory li.level3 {
	grid-template-columns: 2em auto;
}

.explainDirectory li span:last-child {
	margin-left: 1rem;
}

.explainContent {
	overflow-y: scroll;
}

.explainBlock {
	margin: 2%;
	display: grid;
	grid-template-columns: 1fr 1fr; 
	place-items: center;
}

.explainBlock > div {
	padding: 3%;
}

.explainBlock > img {
	width: 100%;
	padding: 3%;
}

.explainBlock .stepOverview {
	padding: 3%;
	color: indianred;
	font-size: medium; 
	border: indianred 2px dashed; 
}

/* ----- LIGHTBOX ----- */

#lightbox {
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 35;
}

#lightbox-bg {
	height: 100%;
	width: 100%;
	padding: 5%;
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

#lightbox-content {
	height: 100%;
	width: 100%;
	margin: auto;
	display: grid;
	border-radius: 20px;
	background-color: white;
	grid-template-columns: 14fr 1fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: "filename close"
						 "text text";
}

#lightbox-filename {
	display: grid;
	grid-area: filename;
	align-items: center;
	background-color: aliceblue;
	border-top-left-radius: 20px;
}

#lightbox-close {
	grid-area: close;
	display: grid;
	color: white;
	align-items: center;
	font-size: xx-large;
	background-color: steelblue;
	border-top-right-radius: 20px;
}

#lightbox-close:hover {
	background-color: lightsteelblue;
	cursor: pointer;
}

#lightbox-text {
	grid-area: text;
	padding: 2%;
	overflow-y: scroll;
}

/* ----- POP OUT ANIMATE ----- */

.animating .popOut {
	transition: all 0.5s ease-in-out;
}

.popOut.fade {
	opacity: 0;
}

.animating .popOut.fade {
	opacity: 1;
}

.popOut.scale {
	max-height: 0%;
	max-width: 0%;
}

.animating .popOut.scale {
	max-height: 100%;
	max-width: 100%;
}

/* ----- SWITCH INTERFACE ----- */

.panelWrapper.current, .panelWrapper.exit, .panelWrapper.enter{
	display: flex;
}

.animating .exit, .animating .enter {
	transition: all .3s ease-in-out;
}

.exit.prev {
	transform: translateX(0%);
}
.animating .exit.prev {
	transform: translateX(105%);
}

.exit.next {
	transform: translateX(0%);
}
.animating .exit.next {
	transform: translateX(-105%);
}

.enter.prev {
	transform: translateX(-105%);
}
.animating .enter.prev {
	transform: translateX(0%);
}

.enter.next {
	transform: translateX(105%);
}
.animating .enter.next {
	transform: translateX(0%);
}
