input, button, .btn.btn-default:focus {
	outline: none;
}

input::placeholder {
	color: silver;
}

/* ----- UPLOAD ----- */

#fileManager {
	display: grid;
	grid-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 15vh);
	border: dashed 3px silver;
	overflow: scroll;
}

.managerHover {
	background-color: whitesmoke;
}

.uploadCover {
	margin: 0;
	padding: 3%;
	display: grid;
	text-align: center;
	border-radius: 10px;
}

.uploadCover .glyphicon {
	font-size: xx-large;
	align-self: center;
}

.coverText {
	font-size: large;
	align-self: center;
	font-weight: normal;
	line-height: 1em;
	word-break: break-all;  /* English */
	white-space: pre-wrap;  /* Chinese */
}

#uploadInput {
	display: none;
}

.emptyCover {
	color: silver;
	border: dotted 2px silver;
}

.emptyCover:hover {
	color: gray;
	border: dotted 2px gray;
	cursor: pointer;
}

.emptyCover .coverText {
	text-decoration: underline;
}

.fileCover {
	color: darkgray;
	border: solid 1px darkgray;
}

.fileCover:hover {
	background-color: whitesmoke;
	border: solid 1px gray;
}

.usualFile {
	display: grid;
}

.hoverFile {
	display: none;
}

.hoverFile > span:hover {
	color: gray;
}

.fileCover:hover .usualFile {
	display: none;
}

.fileCover:hover .hoverFile {
	display: grid;
	cursor: pointer;
}

/* ----- TABLE LIST ----- */

.tableList {
	overflow: scroll;
}

.tableList li {
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	font-size: medium;
	word-break: break-all;
	cursor: pointer;
	color: gray;
}

.tableList li:hover {
	color: black;
	background-color: whitesmoke;
}

.tableList li span {
	align-self: center;
}

.tableList li span:first-child {
	text-align: right;
}

.tableList li span:last-child {
	text-align: left;
}

.tableList .target {
	color: black;
	background-color: gainsboro;
}

.tableList .target:hover {
	color: black;
	background-color: gainsboro;
	cursor: default;
}

/* ----- BTN GROUP ----- */

.btn-group button {
	color: gray;
	background-color: white;
	font-size: medium;
}

.btn-group ul {
	width: 100%;
	max-height: 30vh;
	overflow: scroll;
	margin: 5px;
}

#requiredInterface .btn-group li {
	display: grid;
	grid-template-columns: 100px 25px auto;
}

#optionalInterface .btn-group li {
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
}

.btn-group li {
	text-align: center;
	font-size: medium;
	cursor: pointer;
	word-break: break-all;
}

.btn-group li span {
	align-self: center;
}

.btn-group li span:first-child {
	text-align: right;
}

.btn-group li span:last-child {
	text-align: left;
}

.btn-group li:hover {
	background-color: whitesmoke;
}

.btn-group .caret, .btn-group.dropup .caret{
	border-top: 1rem solid;
	border-bottom: 0;
	border-right: 0.8rem solid transparent;
	border-left: 0.8rem solid transparent;
}

/* ----- SELECT ----- */

.menu {
	padding: 1%;
	display: grid;
	grid-gap: 1%;
	grid-template-rows: 3fr 2fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "title empty"
						 "choose text";
}

.menu h4 {
	vertical-align: bottom;
}

.menu div {
	grid-area: choose;
}

.text-only {
	width: 85%;
}

.icon-only {
	width: 15%;
}

.selected {
	color: white;
	background-color: gray;
}

li.selected:hover {
	background-color: gray;
}

.menu input {
	grid-area: text;
	font-size: medium;
	padding: 5px;
	display: none;
}

/* ----- TEXT INPUT ----- */

.input {
	padding: 1%;
	display: grid;
	grid-gap: 1%;
	grid-template-rows: 3fr 2fr;
	grid-template-columns: 7fr 3fr;
	grid-template-areas: "title empty"
						 "text button";
}

.input input {
	grid-area: text;
	font-size: medium;
}

.input button {
	grid-area: button;
	font-size: medium;
	color: gray;
}

/* ----- OUTPUT ----- */

.output {
	padding: 1%;
}

/* ----- PAGINATION ----- */

.tab {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 1%;
	margin-top: 20px;
}

.tab > div {
	display: grid;
	grid-template-rows: 1fr 1fr;
	border-top: solid 1px gainsboro;
	border-bottom: solid 1px gainsboro;
	border-right: solid 1px gainsboro;
	text-align: center;
	font-size: medium;
	padding: 5px;
	color: gray;
	cursor: pointer;
}

.tab > div:first-child {
	border-left: solid 1px gainsboro;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.tab > div:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.tab > div:hover {
	color: black;
	background-color: whitesmoke;
}

.tab .target {
	color: black;
	background-color: gainsboro;
}

.tab .target:hover {
	color: black;
	background-color: gainsboro;
	cursor: default;
}

/* ----- CONTENT MAPPING ----- */

.contentMapping {
	display: none;
	grid-gap: 5px;
	padding: 1%;
}

.selectObj {
	display: grid;
	grid-gap: 1%;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

.selectObj > span {
	color: darkgray;
	font-size: large;
}

.selectObj > span:hover {
	color: gray;
	cursor: pointer;
}

.newSelect {
	display: inline-block;
	padding: 1%;
	color: silver;
	font-size: medium;
}

.newSelect:hover {
	color: gray;
	cursor: pointer;
}

/* ----- IMPORT TXT ----- */

.importTXT {
	display: none;
	padding: 1%;
}

.importTXT > div {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1%;
}

.notMatch {
	border: solid 1px gainsboro;
	border-radius: 4px;
}

.txtFilesHeader {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	color: black;
	background-color: gainsboro;
	font-size: larger;
	text-align: center;
	padding: 5px;
}

.rowFile {
	display: grid;
	grid-template-columns: 3fr 1fr 1fr 1fr;
	text-align: center;
	font-size: medium;
	color: darkgray;
}

.rowFile span {
	align-self: center;
	padding: 5px;
	word-break: break-all;
}

.rowFile span:first-child {
	text-align: left;
	color: gray;
}

.rowFile:nth-child(even) {
	background-color: whitesmoke;
}

.rowFile span.glyphicon-cloud-upload,
.rowFile span.glyphicon-trash,
.rowFile span.glyphicon-eye-open {
	cursor: pointer;
}

.rowFile span.glyphicon-cloud-upload:hover,
.rowFile span.glyphicon-trash:hover,
.rowFile span.glyphicon-eye-open:hover {
	color: gray;
}

/* ----- FIXED ----- */

.txtFilesHeader.fixed {
	position: fixed;
	z-index: 20;
	left: 37.9vw;
	right: 26.9vw;
	opacity: 0;
}


