
/* ----- UPLOAD ----- */

#uploadToolBar {
	margin: 1% 0;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
}

#uploadToolBar button {
	font-size: medium;
}

#fileManager {
	display: grid;
	grid-gap: 1%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 15vh);
	border: dashed 3px silver;
	overflow-y: scroll;
}

.managerHover {
	background-color: whitesmoke;	/* for dragging function */
}

.uploadCover {
	margin: 0;
	padding: 3%;
	display: grid;
	text-align: center;
	border-radius: 10px;
}

.uploadCover .glyphicon {
	font-size: xx-large;
	align-self: center;
}

.coverText {
	font-size: large;
	align-self: center;
	font-weight: normal;
	line-height: 1em;
	word-break: break-all;  /* English */
	white-space: pre-wrap;  /* Chinese */
}

#uploadInput {
	display: none;
}

.emptyCover {
	color: silver;
	border: dotted 2px silver;
}

.emptyCover:hover {
	color: gray;
	border: dotted 2px gray;
	cursor: pointer;
}

.emptyCover .coverText {
	text-decoration: underline;
}

.fileCover {
	color: darkgray;
	border: solid 1px indianred;
}

.fileCover.chose {
	border-color: limegreen;
}

.fileCover:hover {
	background-color: whitesmoke;
}

.fileCover:hover .usualFile {
	display: none;
}

.fileCover:hover .hoverFile {
	display: grid;
	cursor: pointer;
	grid-template-columns: repeat(3, 1fr);
}

.usualFile {
	display: grid;
}

.hoverFile {
	display: none;
}

.hoverFile .glyphicon-remove {
	color: indianred;
}

.hoverFile .glyphicon-ok {
	color: limegreen;
}

.hoverFile > span:hover {
	color: gray;
}

.hoverFile .glyphicon-remove:hover {
	color: firebrick;
}

.hoverFile .glyphicon-ok:hover {
	color: forestgreen;
}

/* ----- OUTPUT ----- */

.output {
	padding: 1%;
}

#XMLoutput > xmp {
	padding: 1%;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 5px;
}
