@font-face {
	font-family: msjh;
	src: url("../assets/msjh.eot"),
		 url("../assets/msjh.woff") format("woff"), 
		 url("../assets/msjh.ttf") format("truetype");
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: msjh!important;
}

p {
	text-indent: 2em;
}

h1, h2, h3 {
	font-weight: bold!important;
}

h4 {
	text-align: center;
	font-weight: bold!important;
}

table {
	min-width: 100%;
	border: none;
}

thead {
	background-color: gainsboro;
}

tbody tr:nth-child(even) {
	background-color: whitesmoke;
}

table th, table td {
	padding: 5px;
	line-height: 2em;
	white-space: nowrap;
	word-break: keep-all;
	border-bottom: solid 1px gainsboro;
}

#topContainer {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 13fr 1fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: "empty1 header empty2"
						 "prev tool next";
}

/* ----- SWITCH BUTTON & TOOL BAR ----- */

#toolbar {
	position: fixed;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

#toolbar > span {
	margin: 5px;
}

#toolbar > span,
#topContainer > span {
	z-index: 25;
	color: gray;
	background-color: white;
	display: grid;
	align-items: center;
	text-align: center;
	font-size: x-large;
}

#toolbar > span:hover > .tooltip-box {
	display: block;
}

#toolbar > span:hover,
#topContainer > span:hover {
	color: darkgray;
	cursor: pointer;
}

#prevPage {
	grid-area: prev;
}

#nextPage {
	grid-area: next;
}

.tooltip-box {
	display: none;
	position: absolute;
	top: 30px;
	left: -40px;
	width: max-content;
	height: max-content;
	background: rgba(0,0,0,.75);
	border-radius: 5px;
}

.tooltip-text {
	display: grid;
	margin: 10px;
	font-size: medium;
	color: white;
}

.arrow-t {
	position: absolute;
	top: -10px;
	left: 48px;
	width: 0px;
	height: 0px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent rgba(0,0,0,.75) transparent;
}

/* ----- HEADER ----- */

#toolName {
	display: grid;
	grid-area: header;
	align-items: center;
}

#toolName hr {
	margin: 0;
}

#progressBar {
	display: grid;
	margin-top: 1%;
	grid-template-columns: 40px auto 40px auto 40px auto 40px auto 40px auto 40px;
}

#progressBar div {
	color: darkgray;
	background-color: gainsboro;
}

#progressBar div:nth-child(odd) {
	height: 40px;
	display: grid;
	font-size: medium;
	border-radius: 999em;
}

#progressBar div:nth-child(even) {
	width: 105%;
	height: 20px;
	align-self: center;
	transform: translateX(-2.5%);
	z-index: -5;
}


#progressBar div.target {
	color: white;
	background-color: darkgray;
}

#progressBar .text-center {
	display: grid;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 999em;
	background-color: white;
}

/* ----- MAIN TOOL ----- */

#toolWrapper {
	grid-area: tool;
}

.panelWrapper {
	width: 85vw;
	height: 85vh;
	margin: 0 1%;
	display: none;
	position: absolute;
	flex-flow: column nowrap;
}

.explainPanel {
	border-radius: 20px;
	margin-top: 1%;
	padding: 1%;
	font-size: medium;
}

.explainPanel div {
	width: fit-content;
	max-width: 65vw;
	margin: 0 auto;
}

.contentPanel {
	margin: 1% 0;
	padding: 1%;
	flex: 1;
	overflow: scroll;
}

.contentPanel.multisetting {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2%;
}

.settingPanel {
	position: relative;
	overflow: scroll;
}

.settingTab {
	display: none;
}

.settingTab.target {
	display: block;
}

.settingTab .tagTab {
	display: none;
}

.settingTab .tagTab.target {
	display: block;
}
