html, body {
	height: 100%;
}

table {
	min-width: 100%;
	border: none;
}

thead {
	background-color: gainsboro;
}

tbody tr:nth-child(even) {
	background-color: whitesmoke;
}

table th, table td {
	padding: 5px;
	line-height: 2em;
	white-space: nowrap;
	word-break: keep-all;
	border-bottom: solid 1px gainsboro;
}

#topContainer {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 13fr 1fr;
	grid-template-rows: 1fr 9fr;
	grid-template-areas: "empty header exp"
						 "prev tool next";
}

/* ----- SWITCH BUTTON ----- */

#topContainer > span {
	z-index: 25;
	color: gray;
	background-color: white;
	display: grid;
	align-items: center;
	text-align: center;
	font-size: xx-large;
}

#topContainer > span:hover {
	color: darkgray;
	cursor: pointer;
}

#prevPage {
	grid-area: prev;
}

#nextPage {
	grid-area: next;
}

#usage {
	grid-area: exp;
}

/* ----- HEADER ----- */

#toolName {
	display: grid;
	grid-area: header;
	align-items: center;
}

#toolName hr {
	margin: 0;
}

#progressBar {
	display: grid;
	margin-top: 1%;
	grid-template-columns: 40px auto 40px auto 40px auto 40px auto 40px;
}

#progressBar div {
	color: darkgray;
	background-color: gainsboro;
}

#progressBar div:nth-child(odd) {
	height: 40px;
	display: grid;
	font-size: medium;
	border-radius: 999em;
}

#progressBar div:nth-child(even) {
	width: 105%;
	height: 20px;
	align-self: center;
	transform: translateX(-2.5%);
	z-index: -5;
}


#progressBar div.target {
	color: white;
	background-color: darkgray;
}

#progressBar .text-center {
	display: grid;
	align-items: center;
	justify-content: center;
}

.circle {
	width: 20px;
	height: 20px;
	border-radius: 999em;
	background-color: white;
}

/* ----- MAIN TOOL ----- */

#toolWrapper {
	grid-area: tool;
}

.panelWrapper {
	width: 85vw;
	height: 85vh;
	margin: 0 1%;
	display: none;
	position: absolute;
	flex-flow: column nowrap;
}

.explainPanel {
	border-radius: 20px;
	margin-top: 1%;
	padding: 1%;
	font-size: medium;
}

.explainPanel ul {
	list-style-position: inside;
	margin: 1% auto;
	padding: 0;
}

.contentPanel {
	margin: 1% 0;
	padding: 1%;
	flex: 1;
	overflow: scroll;
}

.contentPanel.multisetting {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 2%;
}

.settingPanel {
	position: relative;
	overflow: scroll;
}

.settingTab {
	display: none;
}

.settingTab.target {
	display: block;
}

.settingTab .tagTab {
	display: none;
}

.settingTab .tagTab.target {
	display: block;
}
