input, button, .btn.btn-default:focus {
	outline: none;
}

input::placeholder {
	color: silver;
}

/* ----- TABLE LIST ----- */

.tableList {
	overflow: scroll;
}

.tableList li {
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	font-size: medium;
	word-break: break-all;
	cursor: pointer;
	color: gray;
}

.tableList li:hover {
	color: black;
	background-color: whitesmoke;
}

.tableList li span {
	align-self: center;
}

.tableList li span:first-child {
	text-align: right;
}

.tableList li span:nth-child(3) {
	text-align: left;
}

.tableList .target {
	color: black;
	background-color: gainsboro;
}

.tableList .target:hover {
	color: black;
	background-color: gainsboro;
	cursor: default;
}

/* ----- BTN GROUP ----- */

.btn-group button {
	color: gray;
	background-color: white;
	font-size: medium;
}

.btn-group ul {
	width: 100%;
	max-height: 30vh;
	overflow: scroll;
	margin: 5px;
}

.btn-group li {
	display: grid;
	grid-template-columns: 5fr 1fr 5fr;
	text-align: center;
	font-size: medium;
	cursor: pointer;
	word-break: break-all;
}

.btn-group li span {
	align-self: center;
}

.btn-group li span:first-child {
	text-align: right;
}

.btn-group li span:last-child {
	text-align: left;
}

.btn-group li:hover {
	background-color: whitesmoke;
}

.btn-group .caret, .btn-group.dropup .caret{
	border-top: 1rem solid;
	border-bottom: 0;
	border-right: 0.8rem solid transparent;
	border-left: 0.8rem solid transparent;
}

/* ----- SELECT ----- */

.menu {
	padding: 1%;
	display: grid;
	grid-gap: 1%;
	grid-template-rows: 3fr 2fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "title empty"
						 "choose text";
}

.menu div {
	grid-area: choose;
}

.text-only {
	width: 85%;
}

.icon-only {
	width: 15%;
}

.selected {
	color: white;
	background-color: gray;
}

li.selected:hover {
	background-color: gray;
}

.menu input {
	grid-area: text;
	font-size: medium;
	padding: 5px;
	display: none;
	border: 1px solid silver;
	border-radius: 5px;
}

li.postClass {
	background: #fcf8e3;
}

li.postClass:hover {
	background: bisque;
}

li.postClass.selected {
	color: black;
	background-color: antiquewhite;
}

li.postClass.selected:hover {
	background-color: antiquewhite;
}

.metahintbox {
	position: fixed;
	width: 25vw;
	margin: 13vh 0 0 28vw;
	border: 1px solid silver;
	border-radius: 5px;
}

.hinttitle {
	display: grid;
	margin: 5% 5% 2% 5%;
	color: dimgray;
	text-align: center;
	font-size: medium;
}

.hintcontent {
	margin: 5%;
	color: gray;
}

/* ----- TEXT INPUT ----- */

.input {
	padding: 1%;
	display: grid;
	grid-gap: 1%;
	grid-template-rows: 3fr 2fr;
	grid-template-columns: 7fr 3fr;
	grid-template-areas: "title empty"
						 "text button";
}

.input input {
	grid-area: text;
	font-size: medium;
	border: 1px solid silver;
	border-radius: 5px;
}

.input button {
	grid-area: button;
	font-size: medium;
	color: gray;
}

/* ----- CUSTOM ----- */

.customObj {
	display: grid;
	grid-template-columns: 1fr 3fr 3fr;
	grid-gap: 5px;
	border: 1px solid silver;
	border-radius: 5px;
	margin: 2% 0;
	padding: 2%;
	font-size: medium;
	text-align: center;
	align-items: center;
}

.customObj input {
	padding: 5px;
	border: 1px solid silver;
	border-radius: 5px;
}

.customObj > span:nth-child(3) {
	color: darkgray;
	font-size: large;
	text-align: right;
	padding: 5px;
}

.customObj > span:nth-child(3):hover {
	color: gray;
	cursor: pointer;
}

.switch {
	position: relative;
	display: inline-block;
	width: 168px;
	height: 34px;
	margin: 3px;
}

.switch input {
	display: none;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: silver;
	border-radius: 34px;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "超連結";
	height: 26px;
	width: 80px;
	left: 4px;
	bottom: 4px;
	font-weight: normal;
	background-color: white;
	border-radius: 50px;
	transition: .4s;
}

.switch input:checked + .slider {
  background-color: limegreen;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px limegreen;
}

.switch input:checked + .slider:before {
  transform: translateX(80px);
}

.newObj {
	display: inline-block;
	padding: 1%;
	color: silver;
	font-size: medium;
}

.newObj:hover {
	color: gray;
	cursor: pointer;
}
